deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }} restricted universe multiverse main
# deb-src http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }} restricted universe multiverse main

deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-updates restricted universe multiverse main
# deb-src http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-updates restricted universe multiverse main

deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-security restricted universe multiverse main
# deb-src http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-security restricted universe multiverse main

deb http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-backports restricted universe multiverse main
# deb-src http://archive.ubuntu.com/ubuntu {{ ansible_lsb['codename'] }}-backports restricted universe multiverse main

deb [arch="amd64" signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu "{{ ansible_lsb['codename'] }}" stable

deb [signed-by=/etc/apt/keyrings/kubernetes-{{ kube_base_version }}-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kube_base_version }}/deb/ /
